GROQ_API_KEY=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
POSTGRES_DB=clinicsense
POSTGRES_USER=clinicsense
POSTGRES_PASSWORD=devpassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
MONGO_URL=mongodb://localhost:27017
SECRET_KEY=yasir1805
